*{
    margin: 0;
    padding: 0;

}


.destino{
    font-size: 3em;
    text-align: center;
    width: 100vw;
    background-color: aquamarine;
    padding: 20px 0;

}

.diva{
margin-left: 1200px;
margin-top: 30px;


}

.dado{
background-color: #ccc;
padding: 10px 30px;
border: none;
border-radius: 10px;

}
.botao{
padding: 9px 10px;
border: none;
background-color: aquamarine;
box-shadow: 5px 5px 8px;
}
.botao:hover{
background-color: rgb(88, 220, 176);
}
.cidade{

display: flex;
justify-content: center;
align-items: center;
}

.cid{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 2em;
margin: 20px 0 40px 20px;
text-align: center;
}
.tit{
margin: 40px 20px;
font-size: 1.5em;
}
.foto{
    width: 495px;
    height: 300px;
   
}
.ft{
    display: flex;
    margin: 20px 10px;
    justify-content: center;
    flex-wrap: wrap;

}
.paragrafo{
    margin:0 auto;
    text-align: justify;
    font-size: 1.3em;
    width: 90vw;
}
.prf{
    margin: 10px;
    text-align: justify;
    font-size:1.2em;
    width: 70vw;
}
.list{
    margin:0 40px;
    line-height: 1.5em;
    text-align: justify;
    font-size: 1.3em;
}
.rodape{
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    background-color: aquamarine;
}
.link{
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1200px){
    .destino{
        width: 1200px;
    }
    .diva{
        margin-left: 800px;
        margin-top: 30px;   
    }
}
@media screen and (max-width: 800px){
    .destino{
        width: 1200px;
    }
    .diva{
        margin-left: 800px;
        margin-top: 30px;   
    }
}
